.form-group{
    text-align: center;
    line-height: 5vh;
    font-size: 2.5vh;
}

.form-header{
    text-align: center;
    font-size: 3vh;
}

.button-save{
    border-radius: 4px;
    background-color: #7fe57f;
    font-size: 2vh;
    padding: 1vh 1.5vw;
}


.button-cancel{
    border-radius: 4px;
    background-color: red;
    font-size: 2vh;
    padding: 1vh 2vw;
    margin-left: 2vw;
}

.button-cancel:hover{
    background-color: #ff9e9e;
}

.button-save:hover{
    background-color: #b3e2b3;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
