.footerrow {
    background-color: #313336;
    color: #FFFFFF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 2%;
    padding-bottom: 2%;
    line-height: 30px;
    align-content: space-around;
}

.footercol {
    position: relative;
    text-align: center;
}

#footerlink1:link {
    padding-left: 15px;
    color: #cdfcff
}

#footerlink1:visited {
    color: #cdfcff
}

#footerlink2:link {
    padding-left: 15px;
    color: #cdfcff;
}

#footerlink2:visited {
    color: #cdfcff
}
