#heroimage {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs-ec.bstatic.com%2Fimages%2Fhotel%2Fmax1024x768%2F929%2F92985956.jpg&f=1&nofb=1");
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    position: relative;
    display: block;
    height: 50vh;
}

.hero-text {
    font-size: 2.5vh;
    color: #0a0606;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#wrapper {
    overflow:hidden;
    width: 100vw;
}

#hero-button {
    background-color: #e2e2e2;
    border: none;
    color: black;
    padding: 2vh 5.5vw;
    text-align: center;
    display: inline-block;
    font-size: 2.5vh;
    transition-duration: 0.4s;
}

#hero-button:hover {
    background-color: #313336;
    color: white;
}

#herocontainer {
    background-color: #AAAAAA;
}
