.navbar {
    background-color: #00a759;
}

.navbar-brand {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;;
    font-size: 8.5vh;
    color: #FFFFFF;
}

.navbar-brand:hover {color: #444444}

#logo {
    vertical-align: bottom;
    height: 12vh;
    width: 12vh;
}

#connexion {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-size: 2.5vh;
    padding-right: 1vw;
}

#bouttonnavbar {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    font-style: normal;
    font-size: 3vh;
    padding-right: 1vw;
    padding-left: 2vw;
}

#bouttonnavbar:hover {color: #444444}

#connexion:visited {color: #FFFFFF}

#connexion:hover {color: #444444}

#navbarrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
